*{
    margin: auto;
    width: auto;
    height: auto;
    box-sizing: border-box;
}
body{
    background-image: url(aitrans.jpg);
    border-radius: 16%;
    background-size: cover;
    padding-top: 20%;
    padding-left: 20%;
}
.in{
    padding-left: 20%;
    padding-bottom: 2%;
}
input{
    font-size: 180%;
    border-radius: 10%;
    background-color: transparent;
}
button{
    background-color: blueviolet;
    color:aliceblue;
    font-size: large;
    border-radius: 5%;
}
.btn{
    padding-left: 27%;
}